<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<html>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <%- include('./hero.ejs') %> <%- include('./services.ejs') %> <%-
      include('./about.ejs') %>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
