<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<html>
  <body>
    <%- include('./partials/header.ejs') %>
    <main><%- include('./home.ejs') %> <%- include('./services.ejs') %></main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
