<div class="service-card">
  <div class="<%- index % 2 ? 'top-container' : 'top-container invert' %>">
    <div class="<%- index % 2 ? 'title' : 'title invert' %>">
      <h2>0<%= index %></h2>
      <h3><%= service.name %></h3>
      <h4><%= service.desc_short %></h4>
    </div>
    <div class="void"></div>
  </div>
  <div class="<%- index % 2 ? 'container' : 'container invert' %>">
    <div
      class="image-item"
      style="background-image: url('<%= service.image %>')"
    ></div>
    <p><%= service.desc %></p>
  </div>
</div>
